@media (max-width: 48rem) {
    header{
        div{
            img{
                max-width: 25rem;
            }
        }
    }
.sectionDos{
            max-width: 31.25rem;
            display: grid;
            grid-template-columns: auto;
        }
footer{
            display: grid;
            grid-template-columns: auto;
            .redesfooter{
                justify-content: center;
                text-align: center;
            }
        }
        
}