@media (max-width: 64rem){
    footer{
        display: grid;
        grid-template-columns: auto;
        .redesfooter{
            justify-content: center;
            text-align: center;
            margin-bottom: .625rem;
        }
    }
    }