@media(max-width: 30rem){
    section{
    .sectionDos{
        max-width: 18.75rem;
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
    }
}
.sectionUn{
    max-width: 18.75rem;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.cards{
    max-width: 12.5rem;
}
.card{
    max-width: 12.5rem;
}

footer{
    display: grid;
    grid-template-columns: auto;
    .redesfooter{
        justify-content: center;
        text-align: center;
        margin-bottom: 1.875rem;
    }
}
header{
    div{
        img{
            max-width: 18.75rem;
        }
    }
}
}
