$background-principal: rgb(240, 28, 144) ;
$background-hover: rgb(243, 141, 197);
$color-fuentenav: black ;
$color-fuentefoot: black ;


//*Agrego variables, igual mi pagina es basica y no hay muchas que agregar jeje **//